<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="eZintegration Automation Suite">
	<listeners>
		<listener class-name="com.carbon.bizdata360.qa.listeners.MyListeners"/>
	</listeners>
	<test name="eZintegration Test Cases">
		<classes>

			<class name="com.carbon.bizdata360.qa.testcases.RegisterTest" />
			<class name="com.carbon.bizdata360.qa.testcases.LoginTest" />
			<class name="com.carbon.bizdata360.qa.testcases.ForgotPasswordTest" />
			<class name="com.carbon.bizdata360.qa.testcases.ChangePasswordTest" />
			<class name="com.carbon.bizdata360.qa.testcases.UserManagement" />

		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
